.swiper_wrap {
    width: 50%;
    margin: 0;
    position: relative;
    padding-right: 30px;
}

.swiper_wrap .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-wrapper {
    height: 28.563vh;
}

.swiper_wrap .swiper-slide>img {
    display: block;
    width: 100%;
    object-fit: cover;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0;
}

.swiper-pagination-bullet {
    background-color: #9400D3;
}



@media only screen and (max-width: 768px) {
    .swiper_wrap {
        width: 100%;
        padding: 0;
    }


}